.avatar-box {
  .avatar-image {
    display: block;
    margin: auto;
    transition: 0.3s;
  }

  text-align: center;
  position: relative;
  overflow: hidden;
  .avatar-loader {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateY(50%) translateX(-50%) scale(.2);
    transition: 0.3s;

  }
  &:hover {
    img {
      opacity: .5;
    }
    .remove-avatar {
      display: block;
    }
    .avatar-loader {
      bottom: 50%;
      transform: translateY(50%) translateX(-50%) scale(1);

    }
  }
  &.loading {
    opacity: 0.6;
    .avatar-spinner {
      display: block;
    }

  }

  %btn-aspect {
    cursor: pointer;
    display: inline-block;
    background-color: lightgray;
    padding: 6px 8px;
    border-radius: 16px;
    box-shadow: 0px 12px 10px -10px rgba(black, .3);
  }
  .remove-avatar {
    background-color: red;
    @extend %btn-aspect;
    color: white;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  input[type="file"]:not(.external) {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    + label {
      @extend %btn-aspect;
      color:white;
    }
    &:focus + label,
    + label:hover {
      background-color: lighten(gray, 10);
    }

    .external & {
      z-index: auto;
    }
  }

}

/* Thanks to loading.io */
.avatar-spinner {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 64px;
  height: 64px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: avatar-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes avatar-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
